HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
!**/src/main/java/com/alkemy/ong/auth/config/WebSecurityConfig.java
!**/src/main/resources/application.properties



